{% extends "layout.html" %}
{% block content %}
<form action="/person/new" method="post">
    <div class="row">
        <div class="col">
            <label for="fldid">ID</label>
            <input id="fldid" type="number" class="form-control" placeholder="0" name="fldid">
        </div>
        <div class="col">
            <label for="fldheight">Height</label>
            <input id="fldheight" type="number" class="form-control" placeholder="Height" name="fldheight">
        </div>
        <div class="col">
            <label for="fldweight">Weight</label>
            <input id="fldweight" type="number" class="form-control" placeholder="Weight" name="fldweight">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Add</button>

</form>
{% endblock %}

